<h1>Administrador Admisión</h1>
<div class="position-relative">
  <div class="position-absolute top-0 end-0">
    <a href="https://youtu.be/Kip5JcKfaeM" target="black">
      <span class="badge rounded-pill bg-dark"><b><i class="icon-bulb-idea"></i></b> Ayuda</span>
    </a>
  </div>
</div>
<p class="lead">
  Administrará todos los contenidos de la sección Admisión
</p>
<hr>
<app-error-handler [loading]="loadSettings.loading" [error]="loadSettings.error">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-12 mb-3">
        <label for="cuerpo" class="form-label text-muted lh-1 fw-light fs-6">Fechas Proceso de Admisión</label>
        <angular-editor formControlName="fechas" [config]="{ editable: true, minHeight: '10rem' }"></angular-editor>
      </div>
      <div class="col-12 mb-3">
        <label for="requisitos" class="form-label text-muted lh-1 fw-light fs-6">Requisitos de Admisión</label>
        <angular-editor formControlName="requisitos" [config]="{ editable: true, minHeight: '10rem' }"></angular-editor>
      </div>
      <div class="col-12 mb-3">
        <label for="becas" class="form-label text-muted lh-1 fw-light fs-6">Becas y Descuentos</label>
        <angular-editor formControlName="becas" [config]="{ editable: true, minHeight: '10rem' }"></angular-editor>
      </div>
      <div class="col-12 mb-3">
        <label for="postula" class="form-label text-muted lh-1 fw-light fs-6">Postula</label>
        <angular-editor formControlName="postula" [config]="{ editable: true, minHeight: '10rem' }"></angular-editor>
      </div>
      <div class="col-12 mb-3">
        <button type="submit" class="btn btn-success" [disabled]="!form.valid">Guardar</button>
      </div>
    </div>
  </form>
</app-error-handler>
