<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand ps-4" href="#">USACH VIPO</a>
  </div>
</nav>
<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-ligth">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li>
            <a routerLink="/home" routerLinkActive="active" class="nav-link link-dark align-middle">
              <i class="icon-layout-1"></i>
              <span class="ms-1 d-none d-sm-inline ps-1">Inicio</span>
            </a>
          </li>
          <li>
            <a routerLink="/inicio" routerLinkActive="active" class="nav-link link-dark align-middle">
              <i class="icon-home"></i>
              <span class="ms-1 d-none d-sm-inline ps-1">Página Inicial</span>
            </a>
          </li>
          <li>
            <a routerLink="/noticias" routerLinkActive="active" class="nav-link link-dark align-middle">
              <i class="icon-newspaper"></i>
              <span class="ms-1 d-none d-sm-inline ps-1">Noticias</span>
            </a>
          </li>
          <li>
            <a routerLink="/programa" routerLinkActive="active" class="nav-link link-dark align-middle">
              <i class="icon-laptop-1"></i>
              <span class="ms-1 d-none d-sm-inline ps-1">Programa</span>
            </a>
          </li>
          <li>
            <a routerLink="/admision" routerLinkActive="active" class="nav-link link-dark align-middle">
              <i class="icon-presentation"></i>
              <span class="ms-1 d-none d-sm-inline ps-1">Admisión</span>
            </a>
          </li>
          <li>
            <a routerLink="/academicos" routerLinkActive="active" class="nav-link link-dark align-middle">
              <i class="icon-window-content"></i>
              <span class="ms-1 d-none d-sm-inline ps-1">Académicos</span>
            </a>
          </li>
          <li>
            <a routerLink="/estudiantes" routerLinkActive="active" class="nav-link link-dark align-middle">
              <i class="icon-emoticon"></i>
              <span class="ms-1 d-none d-sm-inline ps-1">Estudiantes</span>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link link-dark align-middle">
              <i class="icon-exit"></i>
              <span class="ms-1 d-none d-sm-inline ps-1">Salir</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col py-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
