<h1>Administrador Presentación del Programa</h1>
<div class="position-relative">
  <div class="position-absolute top-0 end-0">
    <a href="https://youtu.be/Kip5JcKfaeM" target="black">
      <span class="badge rounded-pill bg-dark"><b><i class="icon-bulb-idea"></i></b> Ayuda</span>
    </a>
  </div>
</div>
<p class="lead">
  Administrará todos los contenidos de la sección de Presentación del Programa
</p>
<hr>
<app-error-handler [loading]="loadSettings.loading" [error]="loadSettings.error">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-12 mb-3">
        <label for="descripcion" class="form-label text-muted lh-1 fw-light fs-6">Descripción del Programa</label>
        <angular-editor formControlName="descripcion" [config]="{ editable: true, minHeight: '10rem' }">
        </angular-editor>
      </div>
      <div class="col-12 mb-3">
        <label for="objetivos" class="form-label text-muted lh-1 fw-light fs-6">Objetivos del Programa</label>
        <angular-editor formControlName="objetivos" [config]="{ editable: true, minHeight: '10rem' }"></angular-editor>
      </div>
      <div class="col-12 mb-3">
        <label for="dirigido" class="form-label text-muted lh-1 fw-light fs-6">Dirigido a</label>
        <angular-editor formControlName="dirigido" [config]="{ editable: true, minHeight: '10rem' }"></angular-editor>
      </div>
      <div class="col-12 mb-3">
        <label for="plan" class="form-label text-muted lh-1 fw-light fs-6">Plan de Estudios / Malla Curricular</label>
        <angular-editor formControlName="plan" [config]="{ editable: true, minHeight: '10rem' }"></angular-editor>
      </div>
      <div class="col-12 mb-3">
        <label for="acreditacion" class="form-label text-muted lh-1 fw-light fs-6">Acreditacion</label>
        <angular-editor formControlName="acreditacion" [config]="{ editable: true, minHeight: '10rem' }">
        </angular-editor>
      </div>
      <div class="col-12 mb-3">
        <label for="investigacion" class="form-label text-muted lh-1 fw-light fs-6">Líneas de Investigación</label>
        <angular-editor formControlName="investigacion" [config]="{ editable: true, minHeight: '10rem' }">
        </angular-editor>
      </div>
      <div class="col-12 mb-3">
        <label for="correo" class="form-label text-muted lh-1 fw-light fs-6">Correo</label>
        <input type="email" class="form-control" id="correo" formControlName="correo" required>
      </div>
      <div class="col-12 mb-3">
        <label for="telefono" class="form-label text-muted lh-1 fw-light fs-6">Teléfono</label>
        <input type="text" class="form-control" id="telefono" formControlName="telefono" required>
      </div>
      <div class="col-12 mb-3">
        <label for="url" class="form-label text-muted lh-1 fw-light fs-6">Url ir al sitio</label>
        <input type="text" class="form-control" id="url" formControlName="url" required>
      </div>
      <div class="col-12 mb-3">
        <label for="jornada" class="form-label text-muted lh-1 fw-light fs-6">Jornada</label>
        <select class="form-select" id="jornada" formControlName="jornada">
          <option value="" disabled>Seleccionar ...</option>
          <option ngValue="Vespertino">Vespertino</option>
          <option ngValue="Diurno">Diurno</option>
        </select>
      </div>
      <div class="col-12 mb-3">
        <label for="modalidad" class="form-label text-muted lh-1 fw-light fs-6">Modalidad</label>
        <select class="form-select" id="modalidad" formControlName="modalidad">
          <option value="" disabled>Seleccionar ...</option>
          <option ngValue="Presencial">Presencial</option>
          <option ngValue="Online">Online</option>
          <option ngValue="Mixta">Mixta</option>
        </select>
      </div>
      <div class="col-12 mb-3">
        <label for="caracter" class="form-label text-muted lh-1 fw-light fs-6">Caracter</label>
        <select class="form-select" id="caracter" formControlName="caracter">
          <option value="" disabled>Seleccionar ...</option>
          <option ngValue="Superior">Superior</option>
          <option ngValue="Técnico">Técnico</option>
        </select>
      </div>
      <div class="col-12 mb-3">
        <label for="dedicacion" class="form-label text-muted lh-1 fw-light fs-6">Dedicación</label>
        <select class="form-select" id="dedicacion" formControlName="dedicacion">
          <option value="" disabled>Seleccionar ...</option>
          <option ngValue="Completa">Completa</option>
          <option ngValue="Media">Media</option>
        </select>
      </div>
      <div class="col-12 mb-3">
        <label for="ahno" class="form-label text-muted lh-1 fw-light fs-6">Año</label>
        <input type="text" class="form-control" id="ahno" formControlName="ahno" required>
      </div>
      <div class="col-12 mb-3">
        <label for="postulaciones" class="form-label text-muted lh-1 fw-light fs-6">Postulaciones</label>
        <input type="text" class="form-control" id="postulaciones" formControlName="postulaciones" required>
      </div>
      <div class="col-12 mb-3">
        <label for="clases" class="form-label text-muted lh-1 fw-light fs-6">Clases</label>
        <input type="text" class="form-control" id="clases" formControlName="clases" required>
      </div>
      <div class="col-12 mb-3">
        <label for="valor" class="form-label text-muted lh-1 fw-light fs-6">Valor</label>
        <input type="text" class="form-control" id="valor" formControlName="valor" required>
      </div>
      <div class="col-12 mb-3">
        <label for="subvalor" class="form-label text-muted lh-1 fw-light fs-6">Subvalor</label>
        <input type="text" class="form-control" id="subvalor" formControlName="subvalor" required>
      </div>
      <div class="col-12 mb-3">
        <label for="pago" class="form-label text-muted lh-1 fw-light fs-6">Métodos de Pago</label>
        <input type="text" class="form-control" id="pago" formControlName="pago" required>
      </div>
      <div class="col-12 mb-3">
        <button type="submit" class="btn btn-success" [disabled]="!form.valid">Guardar</button>
      </div>
    </div>
  </form>
</app-error-handler>
